 body{
        
  
          background-color:  #F8E0E6;
          mark{background-color: #ffc8d6; color: rgb(174, 174, 208);}
          h1{color: #f36f90;}
          h2{color: #e77491;}
          h3{color: #e9718f;}
          a{color: rgb(174, 174, 208);}
          p{color:rgb(174, 174, 208)}
          th{color: #f36f90;}
          td{color: rgb(174, 174, 208);}
          caption{color: #e77491;font-size: large;}
          label{color: #e9718f; }
          legend{color: #e9718f; font-weight: bold;} 
          .logo{color: #e77491; float: left; font-size: 20;}
 }

 .topnav{
            width: 100%;
            background-color: rgb(230, 247, 249);
            color: rgb(255, 125, 147);
            float: right;
            text-align: center;
            align-items: center;
            text-align: center;
            word-spacing: 1cm;
            padding: 1cm;
            border: #f36f90 ;
            border-width: 1%;

        }
        .topnav a{
            color: rgb(242, 96, 120);
            text-align: center;
          }


         .topnav :active{
            color: plum;
            text-align: center;
            background-color: rgb(250, 232, 250);
         }

         
         

         
         